.listItem {
  width: 270px;
  height: 450px;
  margin-right: 25px;
  margin-left: 25px;
  color: white;

  .slika1 {
    width: 100%;
    height: 40%;
    background-position: center;
    background-size: cover;
    background-image: url(https://media.discordapp.net/attachments/1095343493142032498/1103358298503249991/180-ultimate-guide-lottery.jpg);
    border-radius: 15px 15px 0px 0px;

    .image-overlay {
      width: 100%;
      height: 210px;
      border-radius: 15px 15px 0px 0px;
      background-color: rgba(171, 12, 12, 0.4);
    }
  }

  .slika2 {
    width: 100%;
    height: 40%;
    background-position: center;
    background-size: cover;
    background-image: url(https://media.discordapp.net/attachments/1095343493142032498/1103356815820996648/b8450d1570.jpeg);
    border-radius: 15px 15px 0px 0px;

    .image-overlay {
      width: 100%;
      height: 210px;
      border-radius: 15px 15px 0px 0px;
      background-color: rgba(171, 12, 12, 0.4);
    }
  }

  .slika3 {
    width: 100%;
    height: 40%;
    background-position: center;
    background-size: cover;
    background-image: url(https://media.discordapp.net/attachments/1095343493142032498/1103362075503370473/dilerka.png?width=1202&height=676);
    border-radius: 15px 15px 0px 0px;

    .image-overlay {
      width: 100%;
      height: 210px;
      border-radius: 15px 15px 0px 0px;
      background-color: rgba(171, 12, 12, 0.35);
    }
  }

  .itemInfo {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    padding-top: 15px;
    padding-right: 15px;
    background-color: #eaebeb;
    border-radius: 0px 0px 15px 15px;

    .rules {
      display: flex;
      justify-content: space-between;
      font-size: 12px;
      .game {
        color: gray;
      }

      .limit {
        color: gray;
        border: 1px solid #ab0c0c;
        padding: 2px;
        border-radius: 10px;
      }
    }

    button {
      padding: 8px 0px;
      width: 40%;
      border: 1px solid rgba(0, 0, 0, 0);
      border-radius: 50px;
      transition: all 0.35s ease;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 18px;
      font-weight: 500;
      cursor: pointer;
      margin-right: 15px;
      margin-bottom: 10px;
      box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.26);
    }

    .play {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #ab0c0c;
      color: #eaebeb;
      margin-top: 5px;
      margin-bottom: 20px;
      border: 2px solid #ab0c0c;

      span {
        padding-left: 5px;
      }
    }
    .play:hover {
      background-color: #eaebeb;
      color: #ab0c0c;
      border: 2px solid #ab0c0c;
    }

    .items {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;

      .name {
        font-size: 22px;
        color: #000000;
      }

      .limit {
        color: white;
        border: 1.5px solid red;
        border-radius: 40px;
        padding: 5px 3px;
      }
    }

    .desc {
      color: #000000;
      cursor: auto;
      font-size: 13px;
      margin-bottom: 10px;
    }
  }
}
