.home {
  background-color: var(--main-color);
  overflow: hidden;

  .footer {
    height: 50px;
    background-color: white;
    display: flex;
    align-items: center;
    padding-left: 50px;
  }
}
