.sideItem {
  display: flex;
  height: 100%;
  width: 50%;
  -webkit-box-shadow: -5px 0px 4px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: -5px 0px 4px 0px rgba(0, 0, 0, 0.25);
  box-shadow: -5px 0px 4px 0px rgba(0, 0, 0, 0.25);

  .sideImage {
    display: flex;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    object-fit: cover;

    .image-overlay {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      height: 100%;
      background-color: rgba(26, 26, 26, 0.705);

      .image {
        display: flex;
        cursor: pointer;

        img {
          margin-top: 13%;
          width: 400px;
        }
      }
      .descSite {
        font-size: 18px;
        display: flex;
        width: 600px;
        line-height: 27px;
        color: white;
        margin-top: 5%;
        text-align: center;
      }

      .sideBottom {
        display: flex;
        width: 100%;
        justify-content: space-around;
        margin-top: 50%;
        height: 100px;

        .pageName {
          color: white;
          font-size: 30px;
          font-family: Blinker;
          font-weight: 600;
        }

        .icon {
          height: 40px;
          font-size: 22px;
          font-weight: 600;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 40px;
          color: #ab0c0c;
          border: 3px solid #ab0c0c;
          border-radius: 50%;
        }
      }
    }
  }
}
