.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #d1d5db;
  opacity: 0.8;
}
.modalBox {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  height: 430px;
  width: 600px;
  padding: 2.5rem;
  background-color: rgb(26, 26, 26);
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.5);

  .logo {
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding-top: 20px;
  }

  .text {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    height: 100%;
    color: white;
    text-align: center;
    line-height: 33px;

    .close {
      padding-top: 50px;
      display: flex;
      justify-content: center;
      margin-bottom: 10px;
      border-radius: 50px;
    }
  }
}
