.featured {
  height: 90vh;
  position: relative;

  .main {
    width: 100%;
    height: 100%;
    opacity: 0.8;
    background-position: center;
    background-size: cover;
    background-image: url(main.jpg);
    border-radius: 15px 15px 0px 0px;
    -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    .image-overlay {
      width: 100%;
      height: 100%;
      background-color: rgba(234, 235, 235, 0.208);
    }
  }

  .info {
    width: 35%;
    position: absolute;
    left: 50px;
    bottom: 100px;
    color: white;
    display: flex;
    flex-direction: column;
    img {
      width: 400px;
    }

    .desc {
      margin: 20px 0px;
      text-shadow: 3px 3px 1px rgba(0, 0, 0, 0.25);
    }

    .buttons {
      display: flex;

      .play,
      .more {
        padding: 10px 20px;
        border: none;
        border-radius: 50px;
        transition: all 0.35s ease;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        font-weight: 500;
        cursor: pointer;
        margin-right: 15px;
        box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.26);
      }
      .icon {
        font-size: 30px;
        margin-right: -5px;
        margin-left: -5px;
      }

      .play {
        background-color: #ab0c0c;
        color: #eaebeb;
      }
      .play:hover {
        background-color: #eaebeb;
        color: #ab0c0c;
      }

      .more {
        background-color: rgb(26, 26, 26);
        color: #eaebeb;
      }
      .more:hover {
        background-color: #eaebeb;
        color: rgb(26, 26, 26);
      }

      span {
        margin-left: 10px;
      }
    }
  }
}

.exit {
  padding: 7px 15px;
  border-radius: 20px;
  border: 2px solid #ab0c0c;
  color: white;
  background-color: #ab0c0c;
  cursor: pointer;
  font-weight: 500;
  font-size: 18px;
  font-family: Blinker;
  -webkit-box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.exit:hover {
  background-color: white;
  color: #ab0c0c;
}
