.navbar {
  width: 100%;
  color: white;
  font-size: 14px;
  position: fixed;
  top: 0;
  z-index: 999;
  background: linear-gradient(to top, transparent 0%, rgb(0, 0, 0, 0.3) 50%);
  transition: 1s;

  &.scrolled {
    background-color: rgb(26, 26, 26);
    transition: 1s;
  }

  .container {
    padding: 0px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;

    .left {
      display: flex;
      align-items: center;
      font-size: 16px;
      font-weight: bold;

      img {
        height: 50px;
        margin-right: 40px;
        padding-left: 50px;
        cursor: pointer;
      }

      span {
        margin-right: 20px;
        cursor: pointer;
        padding: 7px 16px 7px 16px;
        border: 1px solid rgba(26, 26, 26, 0);
      }

      span:hover {
        background-color: white;
        border: 1px solid rgba(26, 26, 26, 0);
        border-radius: 30px;
        color: rgb(26, 26, 26);
        padding: 7px 16px 7px 16px;
        transition: all 0.35s ease;
      }
    }

    .right {
      display: flex;
      align-items: center;
      font-size: 16px;
      font-weight: bold;

      .registerbtn {
        border: 1px solid #ab0c0c;
        border-radius: 30px;
        padding: 5px 16px 5px 16px;
        background-color: #ab0c0c;
        font-weight: bold;
        color: white;
        cursor: pointer;
        transition: all 0.35s ease;
      }

      .registerbtn:hover {
        background-color: white;
        color: #ab0c0c;
        border: 1px solid white;
      }

      .loginbtn {
        padding: 7px 16px 7px 16px;
        border: 1px solid #ab0c0c00;
        cursor: pointer;
        margin-left: 15px;
        transition: all 0.35s ease;
      }

      .loginbtn:hover {
        background-color: white;
        border: 1px solid rgba(26, 26, 26, 0);
        border-radius: 30px;
        color: rgb(26, 26, 26);
        padding: 7px 16px 7px 16px;
        margin-left: 15px;
      }

      .icon {
        margin: 0px 20px;
        cursor: pointer;
      }
      .icons {
        cursor: pointer;
        margin-right: 5px;
      }
      span {
        margin-right: 15px;
      }

      .profile {
        .options {
          display: none;
          background-color: white;
          border-radius: 5px;
          color: rgba(26, 26, 26);
        }

        span {
          padding: 10px;
          cursor: pointer;
        }

        .icon {
          padding-top: 8px;
        }

        &:hover {
          .options {
            display: flex;
            flex-direction: column;
            position: absolute;
            right: 1%;
          }
        }
      }
    }
  }
}
